---
name: board
url: /board
controller: BoardController
---

<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content text-center"><h5>{{ 'SALA' | translate }} {{nombre_sala}}</h5></div>
    <div class="grid-content shrink">
      <a class="button float-right" ng-click="quit()">{{ 'SALIR' | translate }}</a>
      <a zf-open="shareModal" class="button float-right">{{ 'INVITAR' | translate }}</a>
      <div zf-modal="" id="shareModal">
        <a zf-close="" class="close-button">×</a>
        <h3>{{ 'INVITAR_TITULO' | translate }}.</h3>
        <p>{{ 'INVITAR_TEXTO' | translate }}:</p>
        <p>http://dados.tr4ck.net/#!/{{user.room}}</p>
      </div>
    </div>
  </div>
  <div class="grid-block" style="margin-top:10px;">
    <div ui-sortable class="grid-content medium-8" style="margin-right: 20px;">
      <div ng-repeat="person in people" style="margin-top: 7px;">
        <div class="grid-block" style="border-bottom: 1px solid #eaeaea;">
          <div class="grid-content medium-3">
            <div class="counter" id="counter_{{person.slug}}">0</div>
            <div class="avatar">
              <img ng-if="person.avatar" src="{{person.avatar}}">
              <img ng-if="!person.avatar" src="assets/img/gatito.jpg">
            </div>
            <h4 ng-show="person.nick.length<=8">{{person.nick}}</h4>
            <h4 ng-show="person.nick.length>8">{{person.nick | limitTo : 9}}...</h4>
          </div>
          <div class="grid-content" style="max-width:466px;">
            <div class="block" id="{{person.slug}}">
              <!-- Resultado tirada. -->
              <!-- <br>

              <div class="text-center" style="width:2em; float: left; text-align:center;">
                <i class="icon-dice-d20" style="position:absolute; font-size: 2.2em; color: grey;"></i>
                <span style="top: 15px; font-size: 1.5em;">6</span>
              </div> -->

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="grid-block medium-4" style="border: 1px solid grey; box-shadow: 2px 2px 5px #999; max-width:275px; height:380px;">
      <div class="grid-block" ng-repeat="x in ['d4', 'd6', 'd8', 'd10', 'd100', 'd12', 'd20', 'fudge']" style="margin-left:20px;">
        <div class="grid-content medium-5" style="padding:0; margin:0;">
          <a ng-click="singleRoll(x)"><img src="assets/img/{{x}}.png" style="width: 50px;"></a>
        </div>
        <div class="grid-content medium-5">
          <!-- <div class="grid-block" style="margin-top:5px;">
            <button style="width:22px;" ng-click="restardado(x)">-</button>
            <button style="width:22px; margin-left: 6px;" ng-click="sumardado(x)">+</button>
          </div> -->
          <div class="grid-block" style="margin-top:10px;">
            <input type="number" min="0" max="20" name="d4" style="width:50px; height:30px; text-align:center;" ng-model="input[x]"></input>
          </div>
        </div>
      </div>

      <div class="grid-block" style="margin-top:10px;">
        <div class="grid-content">
          <input id="checkbox_autoreset" type="checkbox" ng-model="autoreset" style="margin-left:20px;">
          <label for="checkbox_autoreset">{{ 'AUTOLIMPIAR' | translate }}</label>
          <br>
          <input id="checkbox_mute" type="checkbox" ng-model="mute" style="margin-top:3px;margin-left:20px;">
          <label for="checkbox_mute">{{ 'SILENCIO' | translate }}</label>
        </div>
        <div class="grid-content">
          <!-- <input placeholder="#aabbcc" size="7"> -->
          <color-picker ng-model="dicecolor" options="colorPickerOptions"></color-picker>
        </div>
      </div>

      <div class="grid-block" style="margin-top: 10px">
        <div class="grid-content">
          <input id="checkbox_counterActive" type="checkbox" ng-model="counterActive" ng-change="counterActive_toggle()" style="margin-left:20px;">
          <label for="checkbox_counterActive">{{ 'CONTADOR' | translate }}({{counter}})</label>
        </div>
        <div class="grid-content">
          <a class="counter-action" ng-click="counter_remove()">-</a>
          <a class="counter-action" ng-click="counter_add()">+</a>
        </div>
      </div>

      <div class="grid-block" style="margin-top:20px;">
        <div class="grid-content" style="margin-left:28px;"><a class="button" ng-click="reset()">{{ 'LIMPIAR' | translate }}</a></div>
        <div class="grid-content"><a class="button" ng-click="roll()">{{ 'LANZAR' | translate }}!</a></div>
      </div>
    </div>
</div>
