---
name: home
url: /:room
controller: HomeController
---

<div class="grid-container">
  <div class="grid-block" style="margin-top:50px;">
    <div class="grid-content">
      <form ng-submit="login()" method=post>
        <label>
          {{ 'NOMBRE' | translate }}:
          <input type="text" placeholder="Manolo75" ng-model="user.nick">
        </label>
        <label>
          {{ 'NOMBRE_SALA' | translate }}:
          <input type="text" placeholder="LivingR00m" ng-model="user.room">
        </label>
        <label>
          {{ 'IMAGEN' | translate }}:<br>
          <input type="file" ng-file-select="onFileSelect($files)" >
        </label>

        <input type="submit" class="button expand" value="{{ 'ENTRAR' | translate }}" style="margin-top:30px;"/>
      </form>
      <label ng-if="msg_error">{{ 'ERROR_LOGIN' | translate }}.</label>
    </div>
  </div>

</div>
